.entrance-container {
    width: 1000px;
    min-height: 1000px;
    display: flex;
    justify-content: space-between;
}

.entrance-left-pain {
    width: 200px;
}

.entrance-right-pain {
    width: 800px;
    margin-right: 30px;
    background-color: cornsilk;
    border-radius: 10px;
}

.left-pain-article-list {
    padding-left: 30px;
    padding-top: 20px
}

.article-list {
    list-style-type: none;
}

.left-pain-title-text {
    padding-left: 3px;
    font-weight: bold;
    margin-bottom: 30px;
}

.article-text {
    margin-bottom: 5px;
}

.article-text:hover {
    color: tomato;
    font-weight: bold;
    text-decoration: underline solid tomato;
}
